<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
    <div>
        <h1>Login</h1>
    </div>
    <div>
        <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
    </div>
    <div><p>OR</p></div>
    <form method="POST" th:action="@{/login}">
        <div th:if="${param.error}">
            <p class="text-danger">Invalid username or password.</p>
        </div>
        <div>
            <p><label>
                <input type="text" name="username"  placeholder="Username" />
            </label></p>
        </div>
        <div>
            <p><label>
                <input type="password" name="password"  placeholder="Password" />
            </label></p>
        </div>
        <div>
            <p><input type="submit" value="Login" class="btn btn-primary" /></p>
        </div>
    </form>
    <div>
        <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
    </div>
</body>
</html>
